name: Generate Stats Images

on:
  push:
    branches: [ master ]
  schedule:
    - cron: "30 5 * * 1"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
      pull-requests: write

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
        architecture: 'x64'

    - uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip setuptools wheel
        pip install requests
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Generate images
      run: |
        python3 --version
        python3 generate_galaxy.py
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }} 
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        EXCLUDED: ${{ secrets.EXCLUDED }}
        EXCLUDED_LANGS: ${{ secrets.EXCLUDED_LANGS }}
        EXCLUDE_FORKED_REPOS: true

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v5
      with:
        commit-message: 'Update generated files'
        title: 'chore: Update generated galaxy stats'
        body: 'Auto-generated by workflow'
        branch: update-galaxy-stats
        delete-branch: true
